@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <style>
        #output
        {
            width:100%;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.6.2.js"></script>
    <script>
        $(document).ready(function () {
            // 데이터를 보여주는 함수
            function selectData() {
                // #output 내부의 내용물을 제거합니다.
                $('#output').empty();

                // AJAX를 수행합니다.
                $.getJSON('/Home/GetPeopleJSON', function (data) {
                    $(data).each(function (index, item) {
                        var output = '';
                        output += '<tr>';
                        output += '    <td>' + item.Id +'</td>';
                        output += '    <td>' + item.Name + '</td>';
                        output += '    <td>' + item.Gender + '</td>';
                        output += '    <td>' + item.BloodType + '</td>';
                        output += '</tr>';

                        $('#output').append(output);
                    });
                });
            }

            // 데이터를 추가합니다.
            $('#insert_form').submit(function (event) {
                // AJAX를 수행합니다.
                var data = $(this).serialize();
                $.post('/Home/InsertPerson', data, selectData);

                // 기본 이벤트를 제거합니다.
                event.preventDefault();
            });

            // 초기 화면에 데이터를 표시합니다.
            selectData();
        });
    </script>
</head>
<body>
    <div>
        <form id="insert_form">
        <fieldset>
            <legend>데이터 추가</legend>
            <table>
                <tr>
                    <td><label>이름</label></td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td><label>성별</label></td>
                    <td><input type="text" name="gender" /></td>
                </tr>
                <tr>
                    <td><label>지역</label></td>
                    <td><input type="text" name="region" /></td>
                </tr>
                <tr>
                    <td><label>혈액형</label></td>
                    <td><input type="text" name="bloodType" /></td>
                </tr>
            </table>
            <input type="submit" value="추가" />
        </fieldset>
        </form>
    </div>
    <table id="output">
    
    </table>
</body>
</html>
